<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/documento.css">
    <title>InkBloom</title>
</head>
<body>
<header class="header">
   
        <!-- Espacio para logotipo -->
        <div class="logo">
            <img src="img/logo.jpg" alt="InkBloom Logo" class="logo-img">
        </div>
        <div class="container flex space-between">
        <h1>InkBloom</h1>
    </div>
    <div>
      <a class="boton" href="AreaTrabajo.html">
        <i class="icon fas fa-file-alt"></i> Crear Documento
      </a>
    </div>
</header>
<br>

<div class="container">
    <h2>Documentos</h2>
    
    <div class="card">
    <h3>Documentos Actuales:</h3>
    <ul>
        <li th:each="doc : ${documentos}">
            <a th:href="@{'/documento/crear?titulo=' + ${doc.titulo}}" th:text="${doc.titulo}"></a>
        </li>
    </ul>
    </div>

    <h3>Documento Actual:</h3>
    <div class="card">
        <h4>Title</h4>
        <p><span th:text="${documento.titulo}"></span></p>
    </div>
    <div class="card">
        <h4>Fecha de Edición</h4>
        <p><span th:text="${documento.fechaEdicion}"></span></p>
    </div>
    <div class="card">
        <h4>Cuerpo</h4>
        <p><span th:text="${documento.cuerpo}"></span></p>
    </div>
</div>

<footer class="footer">
    <p>&copy; 2024 InkBloom. Todos los derechos reservados.</p>
</footer>
</body>
</html>
